
Temp/workerlic
Temp/UnityLockfile
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.GeneratedMSBuildEditorConfig.editorconfig
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.AssemblyReference.cache
Temp/obj/Debug/Assembly-CSharp/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Temp/FSTimeGet-dc42a1dc4d909094b8b9058bb7bda7f8
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/Search/transactions.db
Library/SceneVisibilityState.asset
Library/PackageManager/ProjectCache.md5
Library/PackageManager/ProjectCache
Library/ilpp.pid
Library/EditorInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/fullprofile.json
Library/Bee/buildprogram0.traceevents
Library/Bee/backend2.traceevents
Library/Bee/backend1.traceevents
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag
Library/Artifacts/b0/b00fb23dba6b9765cfaf87e19a745e32
Library/Artifacts/af/afb2d8f797d072ec2b28b1a1c3bcfd48
Library/Artifacts/1e/1e29ed80644abef5a14e004737879f2d
Library/Artifacts/17/17843151667f4d99d73515233f1c1b7a
Library/Artifacts/08/08cd3f6c2bb98209f5fe7901b1065ca7
Library/ArtifactDB
/Library
/Temp
/UserSettings
